
    <!-- End Navbar -->
    <%- include('../partials/adminHeader.ejs') %>
    <div>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content borderradius-remove">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title" id="staticBackdropLabel">Add Your Food Item</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <form action="" method="post" id="form" enctype="multipart/form-data" name="form">
                    <div class="form-outline">
                        
                        <label for="resItemName" class="form-label">Item Name</label>
                        <input type="text" name="item_name" class="form-control shadow-remove borderradius-remove"
                            placeholder="Food Name" id="resItemName" aria-describedby="emailHelp">
                    </div>
                    <div class="form-outline">
                      <label for="resItemName" class="form-label">Description</label>
                      <input type="text" name="des" class="form-control shadow-remove borderradius-remove"
                          placeholder="description" id="resItemName" aria-describedby="emailHelp">
                  </div>
                    <br>
                    <div class="form-outline">
                        <label for="resPrice" class="form-label">Price</label>
                        <input type="number" name="price" class="form-control shadow-remove borderradius-remove"
                            placeholder="Price" id="resPrice" aria-describedby="emailHelp">
                    </div>
                    <input type="hidden" id="hiddeninput">
                    <br>
                    <div class="form-outline">
                        <label for="resCatrgory" class="form-label">Category</label>
                        <select id="resCatrgory" name="cat" class="form-select shadow-remove borderradius-remove"
                            aria-label="Default select example">
                            <% categories.forEach( (category) => { %> 
                                <option><%= category.name %> </option>
                                <% }) %>
                        </select>
                    </div>
                    <br>
                    <div class="form-outline">
                        <label for="resFoodImage" class="form-label">Food Image</label>
                        <input type="file" name="image"  accept="image/png, image/jpeg" class="form-control shadow-remove borderradius-remove"
                            id="resFoodImage" aria-describedby="emailHelp">
                    </div>
                    <br>
                    <!-- <div class="form-outline">
                        <label for="resDeliveryType" class="form-label">Delivery Type</label>
                        <select id="resDeliveryType" onchange="freeOrpaid()"
                            class="form-select shadow-remove borderradius-remove"
                            aria-label="Default select example">
                            <option value="Not selected" selected>Delivery Type</option>
                            <option value="Free">Free</option>
                            <option value="Paid">Paid</option>
                        </select>
                    </div>
                    <div class="form-outline">
                        <label for="delvcharginp" class="form-label" id="delvcharlab"
                            style="display: none;">Delivery Charges</label>
                        <input type="number" class="form-control shadow-remove borderradius-remove"
                            style="display: none;" placeholder="Delivery Charges" id="delvcharginp"
                            aria-describedby="emailHelp">
                    </div> -->
               
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" 
                    class="btn btn-info text-white borderradius-remove shadow-remove" data-bs-dismiss="modal">
                    Create
                </button>
              </form>
  <%- include('../partials/footer.ejs') %>