<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Montserrat:400,700|Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/ionicons/style.css">
    <link rel="stylesheet" href="/fonts/open-ionic/style.css">
    <link rel="stylesheet" href="/css/animate.css">



    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">


    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">


    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">
    <link href="/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css">


    
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style.css">




    <link
            href='https://fonts.googleapis.com/css?family=Actor|Berkshire+Swash|Great+Vibes|Josefin+Sans|Lato:300|Lobster Two|&subset=latin,latin-ext'
            rel='stylesheet' type='text/css'>

</head>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

 


 
<div class="header-top">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-12 text-center">
              <a href="/" class="site-logo">
                <img src="/img/logos/foodpanda-c.png " width="500" height="80" >
                  <!-- <img src="/images/logo.png" alt="Image" class="img-fluid"> -->
              </a>
          </div>
          <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                  class="icon-menu h3"></span></a>
      </div>
  </div>




  <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
          <div class="d-flex align-items-center">

              <div class="mx-auto">
                  <nav class="site-navigation position-relative text-left" role="navigation">
                      <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">
                          <li class="active"><a href="/user/home" class="nav-link text-left">Home</a></li>
                          <!-- <li><a href="/shop/about" class="nav-link text-left">About</a></li> -->
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">ACOUNT</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown04">
                                  
                                      <a class="dropdown-item" href="/user/profile">Profile</a>
                                      <a class="dropdown-item" href="/user/logout">Logout</a>
                                  
                                      <!-- <a class="dropdown-item" href="/user/signup">Signup</a>
                                      <a class="dropdown-item" href="/user/signin">Signin</a> -->
                                  
                              </div>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">Shop</a>
                              <div class="dropdown-menu" aria-labelledby="dropdown04">
                                  <a class="dropdown-item" href="">Menu</a>
                                  <a class="dropdown-item" href="/user/cart">Cart</a>
                                  <a class="dropdown-item" href="/user/checkout">Checkout</a>
                              </div>
                          </li>
                         
                          <li class="nav-item cta cta-colored"><a href="http://localhost:3000/user/cart" class="nav-link"><span
                                  class="icon-shopping_cart"> <%= count %></span></a></li>

                      </ul>
                  </nav>

              </div>

          </div>
      </div>

  </div>

</div>

